/* Import a fancy font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #ff9966, #ff5e62);
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: rows;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;

}



h2 {
    font-size: 2rem;
    border-radius: 10px;
    display: inline-block;

}


h2 :second-last-child {
    margin-left: 1rem;
}




h5 {
    margin-top: 1.3rem;
}

#Happy_newYear {
    font-size: 4rem;
    margin-top: 2rem;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#Happy_newYear.show {
    opacity: 1;
}